header{
    background-color: #18181b;
    color: white;
    height: 50px;
    align-items: center;
    box-shadow:0 0 1px black, 0 0 1px black,0 0 1px black ,0 0 1px black;
}

body{
    background-color:#0e0e10 !important;
    overflow-x: hidden;
}

/*Começo menu lateral do site*/
nav.menu-lateral{
    width: 240px;
    height: 100%;
    background-color: #1f1f23;
    box-shadow: 0 0 1px black, 0 0 1px black,0 0 1px black ,0 0 1px black;
    padding: 40px 0px 40px 1%;
    position: fixed;
    position: absolute;
    left: 0;
    z-index: 999;
    overflow-x: hidden;
    scrollbar-color: black;
    scrollbar-width: none;
}

.para-voce{
    color: #EFEFF1;
    margin-top: -30px;
    margin-left: 5%;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.btn-expandir{
    margin-top: -78px;
    margin-bottom: 10px;
    margin-left: 175px;
}

nav.menu-lateral ul li{

    margin-bottom: 6px;
    padding: 0;
}

.item-menu{
    display: flex;
}

.titulos-laterais{
    flex-direction: column;
    margin-left: 5px;
}

.btn-expandir i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 4px;
}

.btn-expandir i:hover{
    background-color: rgb(128, 128, 128, 0.3);
}

ul{
    height: 100%;
    list-style-type: none;
}


.menu-lateral ul li h2{
    color: #DEDEE3;
    text-decoration: none;
    font-size: 1rem;  
    margin-bottom: 2px; 
    margin:0;
    padding: o;
}

.menu-lateral ul li h5{
    color: #686770;
    text-decoration: none;
    font-size: 0.9rem;
    margin:0;
    padding:0;
}

.fotoperfil-lateral{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
/*Final menu lateral do site*/

/*Começo da parte esquerda do header*/
#seguindo{
    color: #efeff1;
    font-weight: 700;
    font-size: 19px;
    padding: 0px 30px 0px 10px;
}

#seguindo:hover{
    color: #bf94ff;
}

#procurar{
    color:#efeff1;
    font-weight: 700;
    font-size: 19px;
    padding: 0px 30px 0px 10px;
}

#procurar:hover{
    color: #bf94ff;
}

#pontos-veticais{
    display: flex; 
    align-items: center;    
    cursor: pointer;
    padding: 1px 4px;
}

#pontos-verticais:hover{
    background-color: gray;
    border-radius: 5px;
}

.nav-link{
    color: white;
}

#dropdown{
    font-size: 13px;
    background-color: #18181b;
    border: none;
    margin-top: -2px;
    box-shadow: 0 0 1px black, 0 0 1px black,0 0 1px black ,0 0 1px black;
    height: 90vh;
}

#dropdown a{
    color: #efeff1;
}

#dropdown li{
    margin: 4px 16px;
}

#dropdown a:hover{
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 5px;
}

#dropdown p{
    color: #adadb8;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: 30px;
}

/*Final da parte esquerda do header*/

/*Começo da parte do centro do header*/
#pesquisa{
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#pesquisa button{
    height: 36px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#53535F61;
    border:none;
}

#pesquisa input{
    height: 36px;
    background-color: #18181b;
    border: 0.2px solid #555454;
    color: white;
}

#pesquisa input:hover{
    box-shadow:inset 0 0 1.5px #adadb8,
     inset 0 0 1.5px #adadb8, inset 0 0 1.5px #adadb8,
     inset 0 0 1.5px #adadb8;
}

#pesquisa input::placeholder{
    color: #a5a2a2;
    font-weight: 500;
}

#pesquisa input:focus{
    outline: none; 
    box-shadow: none; 
    border:4px solid #bf94ff; 
}

/*Final da parte do centro do header*/

/*começo da parte direita do header*/
#header-direito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
}

#header-direito a{
    margin: 2px 10px;
    padding: 1px 4px;
}

#header-direito a:hover{
    background-color: rgb(128, 128, 128, 0.3);
    cursor: pointer;
    border-radius: 5px;
}

#header-direito button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    font-weight: bold;
    height: 30px;
    font-size:13px;
    border:none;
    color: white;
    background-color:#53535F61;
    margin-right: 10px;
}

#header-direito button:hover{
    background-color: #80808f61;
}

#header-direito button img{
    margin-right: 5px;
}
/*Final da parte direita do header*/

/*Começo do carrosel*/
#carouselExample{
    margin-top: 50px;
    position: relative;
}

    #primeiro-carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #segundo-carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #terceiro-carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quarto-carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quinto-carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

/*Final do carrosel*/

/*Começo dos Recomendados*/
.section-principal{
    gap: 10px;
    display: flex;
}

.recomendados{
    margin: 0px 0px 0px 50px;
}

#paragrafo-recomendados{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 50px;
    width: 100%;
}

#link-recomendados{
    text-decoration: none;
    font-weight: bold;
    color: #bf94ff;
}

#link-recomendados:hover{
    color: #bf94ff;
    text-decoration: underline;
}

.card-recomendados{
    width: 336px;
    background-color: white;
}

.card-recomendados-geral{
    width: 336px;
    background-color: white;
    margin-top: 95px;
}

.card-body{
    background-color: #0e0e10;
}

.card-body h5{
    margin-left: 60px;
    margin-top: -40px;
    font-size: large;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 260px; 
    cursor: pointer;
}

.card-body h5:hover{
    color: #bf94ff;
}

.card-body p{
    color: #8F8F98;
}

.card-text{
    margin-top: 5px;
    margin-left: 60px;
    padding: 0;
    font-size: 0.9em;
    cursor: pointer;
}

.card-text-game{
    margin-top: -20px;
    margin-left: 60px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
}

.card-text-game:hover{
    color: #bf94ff;
}


.div-pontos-verticais-recomendados{
    margin-top: -25px;
    margin-left: 320px;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.pontos-verticais-recomendados{
    height: 20px;
    padding: 2px 4px;
}

.pontos-verticais-recomendados:hover{
    background-color: rgb(128, 128, 128, 0.2);
    border-radius: 5px;
}


.hover-opacity li:hover{
    opacity: 0.3;
}

.fotoperfil{
    border-radius: 100%;
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

.icone-recomendados{
    margin-right: 10px;
}

.generos{
    display: flex;
    margin-left: 58px;
   
}

.generos a{
    margin-right: 5px;
    text-decoration: none;
    background-color: #1F1F23;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 20px;
    color: #adadb8;
    padding: 2px 5px;
}

.generos a:hover{
    background-color: rgb(128, 128, 128, 0.3);
}

.custom-hover{
        background-color: lightgray;
        color: red;
}

/*Final dos Recomendados*/